################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CasaDomotica.sln
.vs/
[Bb]in/
[Oo]bj/
*.user